body {
  background-color:#202022;
  padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border: 5px solid #202022;
    padding: 20px;
    width: 1080px;
    height: 70px;
    word-spacing: 6px;
    left: 11px;
}
.display-4 {
  text-align: center;
}

img {
  border-radius: 5px;
}